// SPDX-License-Identifier: GPL-2.0
/*
 * FriendlyARM's Exynos4412 based TINY4412 board device tree source
 *
 * Copyright (c) 2013 Alex Ling <kasimling@gmail.com>
 *
 * Device tree source file for FriendlyARM's TINY4412 board which is based on
 * Samsung's Exynos4412 SoC.
 */

/dts-v1/;
#include "exynos4412.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	model = "FriendlyARM TINY4412 board based on Exynos4412";
	compatible = "friendlyarm,tiny4412", "samsung,exynos4412", "samsung,exynos4";

	chosen {
		stdout-path = &serial_0;
		bootargs = "noinitrd root=/dev/mmcblk0p2 rw noinitrd rootfstype=ext4 console=ttySAC0,115200 init=/linuxrc earlyprintk";
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x40000000 0x40000000>;
	};

	leds {
		compatible = "gpio-leds";

		led1 {
			label = "led1";
			gpios = <&gpm4 0 GPIO_ACTIVE_LOW>;
			default-state = "off";
			linux,default-trigger = "heartbeat";
		};

		led2 {
			label = "led2";
			gpios = <&gpm4 1 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led3 {
			label = "led3";
			gpios = <&gpm4 2 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led4 {
			label = "led4";
			gpios = <&gpm4 3 GPIO_ACTIVE_LOW>;
			default-state = "off";
			linux,default-trigger = "mmc0";
		};
	};

	fixed-rate-clocks {
		xxti {
			compatible = "samsung,clock-xxti";
			clock-frequency = <0>;
		};

		xusbxti {
			compatible = "samsung,clock-xusbxti";
			clock-frequency = <24000000>;
		};
	};

	backlight_demo@139D0000	{
		compatible = "tiny4412,backlight_demo";
		reg = <0x139D0000  0x14>;
		tiny4412,backlight = <&gpx1 2 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "backlight_out","backlight_in";
		pinctrl-0 = <&backlight_out>;
		pinctrl-1 = <&backlight_in>;
//		interrupts = <0 40 0>;
		interrupts = <GIC_SPI 40 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clock CLK_PWM>;
		clock-names = "timers";
	};

//	display-timings {
//		native-mode = <&timing0>;
//		timing0: timing {
//			clock-frequency = <63000000>;
//			hactive = <800>;
//			vactive = <480>;
//			hfront-porch = <80>;
//			hback-porch = <36>;
//			hsync-len = <10>;
//			vback-porch = <15>;
//			vfront-porch = <22>;
//			vsync-len = <8>;
//		};
//	};


	gpio-keys {
		compatible = "gpio-keys-polled";
		poll-interval = <100>;

		user_k1 {
			label = "User Push Button K1";
			linux,code = <BTN_0>;
			gpios = <&gpx3 2 GPIO_ACTIVE_LOW>;
		};

		user_k2 {
			label = "User Push Button K2";
			linux,code = <BTN_1>;
			gpios = <&gpx3 3 GPIO_ACTIVE_LOW>;
		};

		user_k3 {
			label = "User Push Button K3";
			linux,code = <BTN_2>;
			gpios = <&gpx3 4 GPIO_ACTIVE_LOW>;
		};

		user_k4 {
			label = "User Push Button K4";
			linux,code = <BTN_2>;
			gpios = <&gpx3 5 GPIO_ACTIVE_LOW>;
		};
	};
};

&fimd {
	pinctrl-0 = <&lcd_clk &lcd_data24>;
	pinctrl-names = "default";
	status = "okay";

	samsung,invert-vden;
	samsung,invert-vclk;

	display-timings {
		native-mode = <&timing0>;
		timing0: timing {
			clock-frequency = <4000000>;
			hactive = <800>;
			vactive = <480>;
			hfront-porch = <80>;
			hback-porch = <36>;
			hsync-len = <10>;
			vback-porch = <15>;
			vfront-porch = <22>;
			vsync-len = <18>;
			vsync-active = <0>;
			hsync-active = <0>;
			pixelclk-active = <0>;
		};
	};
};

&rtc {
	status = "disabled";
};

/* for eMMC */
&sdhci_0 {
	bus-width = <4>;
	pinctrl-0 = <&sd0_clk &sd0_cmd &sd0_cd &sd0_bus4>;
	pinctrl-names = "default";
	status = "okay";
};

&sdhci_2 {
	bus-width = <4>;
	pinctrl-0 = <&sd2_clk &sd2_cmd &sd2_cd &sd2_bus4>;
	pinctrl-names = "default";
	status = "okay";
};

&serial_0 {
	status = "okay";
};

&serial_1 {
	status = "okay";
};

&serial_2 {
	status = "okay";
};

&serial_3 {
	status = "okay";
};

&exynos_usbphy {
	samsung,usb4604-rst = <&gpm2 4 1>;
	status = "okay";
};

&hsotg {
	status = "okay";
};

&ehci {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	port@0 {
		reg = <0>;
		phys = <&exynos_usbphy 1>;
		status = "okay";
	};
	port@1 {
		reg = <1>;
		phys = <&exynos_usbphy 2>;
		status = "okay";
	};
	port@2 {
		reg = <2>;
		phys = <&exynos_usbphy 3>;
		status = "okay";
	};
};

&ohci {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	port@0 {
		reg = <0>;
		phys = <&exynos_usbphy 1>;
		status = "okay";
	};
};

&i2c_0 {
        status = "okay";

        sht21@40 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "sensirion,sht21";
			reg = <0x40>;
        };
};

&pinctrl_1 {
	backlight_out:
	backlight_out {
		samsung,pins = "gpx1-2";
		samsung,pin-function = <1>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
	};

	backlight_in: 
	backlight_in {
		samsung,pins = "gpx1-2";
		samsung,pin-function = <0>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
	};
};

//&pwm {
//	/* PWM 0 -- Buzzer */
//	pinctrl-0 = <&pwm0_out &pwm1_out &pwm2_out &pwm3_out>;
//	pinctrl-names = "default";
//	samsung,pwm-outputs = <0>, <1>, <2>, <3>;
//	status = "okay";
//};
